/* Due to this being my first 'project' I am working on while I go
through TOP curriculm, I am going to just use one styles.css file.

I would assume with larger projects multiple .css files would be
required*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 210, 128);
    width: 600px;
    margin: 60px auto;
}

.contents {
    width: 600px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.contents h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: rgb(0, 0, 0) 2px 0 10px;
    margin-bottom: 50px;

}

.recipe-list {
    font-size: 20px;
    width: 400px;
    text-align: center; 
    margin: 20px auto;
    list-style-type: none;
}

.recipe-list li {
    margin-bottom: 5px;
}

.center-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.buttons {
    font-size: 20px;
    background-color: rgb(106, 141, 118);
    padding: 2px 20px;
}