body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    background-color: rgb(74, 165, 74);
    color: white;
    text-align: center;
    font-size: 50px;
}

.recipe-list {
    font-size: 20px;
    text-align: center;
}